{% macro header(isindex=true) %}
    <header class="page-header hdr container-fluid">
        <div class="container-fluid col-xl-10 p-2 hstack gap-2">
            <a class="navbar-brand" href="/"><h1 class="my-auto"><b>U</b></h1></a>
            <div class="ms-auto"><!--spacer--></div>
            <div class="btn-group" role="group">
                <a class="btn btn{{'-outline' if not isindex}}-light" type="button" href="/">
                    <i class="bi bi-list-task"></i><span class="d-none d-sm-inline"> Scheduler</span>
                </a>
                <a class="btn btn{{'-outline' if isindex}}-light" type="button" href="/settings">
                    <i class="bi bi-sliders"></i><span class="d-none d-sm-inline"> Settings</span>
                </a>
            </div>
            <button class="ms-5 ms-sm-4 ms-md-5 btn btn-outline-light" type="button" data-bs-title="Do you want to reboot UniTotem?" data-bs-positive-btn="Reboot" data-bs-positive-action="sendCommand('power/reboot')" data-bs-negative-btn="No" data-bs-toggle="modal" data-bs-target="#confirmModal">
                <i class="bi bi-bootstrap-reboot"></i><span class="d-none d-sm-inline"> Reboot</span>
            </button>
            <button class="btn btn-outline-light" type="button" data-bs-title="Do you want to shutdown UniTotem?" data-bs-positive-btn="Shutdown" data-bs-positive-action="sendCommand('power/shutdown')" data-bs-negative-btn="No" data-bs-toggle="modal" data-bs-target="#confirmModal">
                <i class="bi bi-power"></i><span class="d-none d-sm-inline"> Shutdown</span>
            </button>
        </div>
    </header>
{% endmacro %}

{% macro footer(ut_vers, logged_user, disp_size, disk_used, disk_total) -%}
    <footer class="fixed-bottom text-center border-top bg-white" style="width:100vw; z-index:1000;">
        <h6 class="my-1" width="100%"><small class="text-muted"><a href="https://github.com/a13ssandr0/unitotem"><i class="bi bi-github"></i> Unitotem</a> {{ ut_vers }} by a13ssandro | Logged in as {{ logged_user }} | Display size: {{ disp_size }} | Used {{disk_used}} of {{disk_total}}</small></h6>
    </footer>
{% endmacro %}