{% extends "settings.html.j2" %}
{% block content %}
    <div class="hstack gap-2">
        <h4>Power scheduling</h4>
        <button class="btn btn-sm btn-primary ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#addPowerRuleModal"><i class="bi bi-plus-circle"></i> Add rule</button>
    </div>
    <div class="m-3 mt-1 row">
        <table>
            <thead>
                <tr>
                    {% for name in ['Action', 'Hour', 'Minute', 'Day of the month', 'Month', 'Day of the week', '', '']%}
                    <th scope="col">{{name}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="asset_table"></tbody>
        </table>
    </div>
{% endblock content %}

{% set init_cmds = ['Settings/Cron/getJobs'] %}


<script type="text/javascript" charset="utf-8">
{% block js %}
    const table = $('#asset_table');
    $('#add_schedule').click(() => sendCommand('Settings/Cron/addJob', {
        cmd: $('#action_selector').val(),
        m: $('#minute_selector').val(),
        h: $('#hour_selector').val(),
        dom: $('#monthday_selector').val(),
        mon: $('#month_selector').val(),
        dow: $('#weekday_selector').val()
    }));
{% endblock js %}


{% block recv_cmds %}
case 'Settings/Cron/getJobs':
    table.empty();
    data.jobs.forEach(job => {
        table.append(
            $('<tr></tr>').append(
                $('<td class="my-auto" scope="row"></td>').html(job.command),
                $('<td class="my-auto"></td>').html(job.h),
                $('<td class="my-auto"></td>').html(job.m),
                $('<td class="my-auto"></td>').html(job.dom),
                $('<td class="my-auto"></td>').html(job.mon),
                $('<td class="my-auto"></td>').html(job.dow),
                $('<td class="my-auto"></td>').append(
                    $('<div class="form-check form-switch"></div>').append(
                        $('<input class="form-check-input" type="checkbox" role="switch">')
                            .attr('title', ((job.enabled)?'Dis':'En') + 'able job')
                            .prop('checked', job.enabled)
                            .change(() => sendCommand('Settings/Cron/setJobEnabled', {job: job.comment, state: !job.enabled}))
                    )
                ),
                $('<td class="my-auto"></td>').append(
                    $('<button type="button" title="Remove job" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></button>')
                        .click(() => sendCommand('Settings/Cron/deleteJob', {job: job.comment}))
                )
            )
        );
    });
    break;
{% endblock recv_cmds %}
</script>