{% extends "settings.html.j2" %}

{% block content %}
<h4>Display</h4>
<small>Prova <small>Prova2 <small>Prova3</small></small></small>

{% endblock content%}

{% block init_cmds %}'settings/info'{% endblock init_cmds %}

<script type="text/javascript" charset="utf-8">
{% block recv_cmds %}

{% endblock recv_cmds %}

{% block js %}

{% endblock js %}
</script>