{% extends "settings.html.j2" %}
{% block main_content %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    {% for name, tab, desc, icon in tabs%}
    <div class="col">
        <div class="card mb-3" style="height: 90%!important;">
            <div class="d-flex">
                <div class="p-3 pe-0 text-center">
                    <i class="bi bi-{{icon}} text-primary-emphasis" style="font-size: 2.75em;"></i>
                </div>
                <div class="flex-grow-1">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text"><small class="text-muted"><a href="/settings/{{tab}}" class="text-reset text-decoration-none stretched-link">{{desc}}</a></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main_content %}