{% extends "settings.html.j2" %}
{% block content %}
    <h4>Network</h4>
    <div class="mb-3 row" style="max-width: 30em;">
        <label for="inputHostname" class="col-sm-5 col-form-label">Hostname</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input type="text" class="form-control" id="inputHostname" ws-edit-needs-reboot>
                <button type="button" class="btn btn-sm btn-outline-success ms-auto" id="set_hostname"><i class="bi bi-check2"></i> Apply</button>
            </div>
        </div>
    </div>
    <div class="mt-3 row">
        <p class="mb-1"><a href="https://netplan.io/reference/">Netplan</a> config files:</p>
        <ul class="nav nav-tabs" id="netplan_tabs" role="tablist" hidden>
            <li class="nav-item" role="presentation">
                <button class="nav-link" title="New file" id="add-file" data-bs-toggle="modal" data-bs-target="#newFileModal" type="button" role="tab"><i class="bi bi-plus-square"></i></button>
            </li>
        </ul>
        <div class="btn-group mb-2" role="group">
            <div class="dropdown">
                <button type="button" id="file-selector-btn" class="btn btn-{{bs_theme}} dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="true">Netplan configuration file</button>
                <ul class="dropdown-menu" style="min-width: 30rem;">
                    <span id="files-list"></span>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <div class="input-group input-group-sm px-2">
                            <input type="text" class="form-control" id="new-file-text" placeholder="New configuration file">
                            <span class="input-group-text" id="file-ext">.yaml</span>
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Create</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dropdown ms-auto my-auto">
                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="wifiDropBtn" data-bs-toggle="dropdown" data-bs-auto-close="inside"><i class="bi bi-wifi"></i></button>
                <ul class="dropdown-menu dropdown-menu-end" id="wifi-menu" style="min-width: 20rem;">
                    <li class="dropdown-item disabled">Scanning...</li>
                </ul>
            </div>
        </div>
        <div id="editor" style="width:95%; height:30em; margin-left:auto; margin-right:auto;"></div>
        <div class="mt-2 hstack gap-2">
            <button type="button" id="del-btn" class="btn btn-sm btn-danger" data-bs-title="Do you want to delete ?" data-bs-positive-btn="Delete" data-bs-negative-btn="No" data-bs-toggle="modal" data-bs-target="#confirmModal"><i class="bi bi-trash"></i> Delete</button>
            <button type="button" id="set-btn" class="btn btn-sm btn-outline-success ms-auto"><i class="bi bi-check2"></i> Save</button>
            <button type="button" id="apply-btn" class="btn btn-sm btn-warning" onclick="sendCommand('settings/netplan/file/set', {apply: true});"><i class="bi bi-gear"></i> Apply</button>
        </div>
    </div>
{% endblock content %}

{% set ext_scripts = ['ace.js'] %}
{% set init_cmds = ['settings/hostname', 'settings/netplan/file/get'] %}


<script type="text/javascript" charset="utf-8">
{% block js %}
const file_selector_btn = $('#file-selector-btn');
const filesList = $('#files-list');
const aceEditor = ace.edit('editor', {theme: "ace/theme/xcode", mode: "ace/mode/yaml"});
const set_btn = $('#set-btn');
const del_btn = $('#del-btn');
const inputHostname = $('#inputHostname');
const set_hostname = $('#set_hostname');
const wifi_menu = $('#wifi-menu');
var netplan = { original: {}, modified: {} };
var cur_file = null;

aceEditor.session.on('change', (delta) => {
    netplan.modified[cur_file] = aceEditor.getValue();
    if (aceEditor.getValue() != netplan.original[cur_file]){
        set_btn.removeClass('btn-outline-success').addClass('btn-success');
    } else {
        set_btn.removeClass('btn-success').addClass('btn-outline-success');
    }
});
set_btn.click(() => {
    sendCommand('settings/netplan/file/set', {filename: cur_file, content: aceEditor.getValue(), apply: false});
    netplan.original[cur_file] = aceEditor.getValue();
    delete netplan.modified[cur_file];
    set_btn.removeClass('btn-success').addClass('btn-outline-success');
});


function wifi_yaml(wifi_name, password=true) {
    var net = `network:\n  wifis:\n    {{def_wifi}}:\n      dhcp4: true\n      # addresses: [192.168.1.100/24]\n      # routes:\n      #   - to: 0.0.0.0/0\n      #     via: 192.168.1.1\n      # nameservers:\n      #   addresses: [192.168.1.1, 1.1.1.1, 8.8.8.8]\n      access-points:\n        "${wifi_name}":`;
    if (password)
        net += `\n          password: "<super-secure>"\n`;
    return net;
}

inputHostname.on('input', () => {
    if (inputHostname.val() != inputHostname.attr('def-val')) {
        set_hostname.removeClass('btn-outline-success').addClass('btn-success');
    } else {
        set_hostname.removeClass('btn-success').addClass('btn-outline-success');
    }
});

$('#add_file_btn').click(() => sendCommand('settings/netplan/file/new', {filename: $('#modal_input_filename').val()}));
set_hostname.click(() => sendCommand('settings/hostname', {hostname: inputHostname.val()}));
var wifi_upd_timer = Number();
$('#wifiDropBtn').on({
    'show.bs.dropdown': () => {wifi_upd_timer=setInterval(sendCommand, 5000, 'settings/get_wifis')},
    'hide.bs.dropdown': () => clearInterval(wifi_upd_timer)
});

{% endblock js %}


{% block recv_cmds %}
case 'settings/hostname':
    inputHostname.val(data.hostname).attr('def-val', data.hostname)
        .removeClass('btn-success').addClass('btn-outline-success');
    break;

case 'settings/netplan/file/get':
    filesList.empty();
    netplan.original = data.files;
    Object.entries(data.files).forEach((pair, i) => {
        const [filename, content] = pair;
        const btn = $('<button class="dropdown-item" type="button"></button>')
            .html(filename)
            .click(()=>{
                file_selector_btn.html(filename);
                cur_file = filename;
                aceEditor.setValue(content, -1);
                del_btn.attr('data-bs-title', `Do you want to delete ${filename}?`);
                del_btn.attr('data-bs-positive-action',
                    `sendCommand('settings/netplan/file/del', {filename: '${filename}'})`);
            });
        if (i==0) btn.click();
        filesList.append($('<li></li>').append(btn));
    });
    break;

case 'settings/get_wifis':
    let wifi_low = data.wifis[0].signal_total/3;
    let wifi_high = data.wifis[0].signal_total*2/3;
    wifi_menu.empty();
    data.wifis.forEach(network => {
        if (network.essid == '') network.essid = null;
        
        if (network.signal_quality >= wifi_high)     var wifi_icon = 'bi-wifi';
        else if (network.signal_quality >= wifi_low) var wifi_icon = 'bi-wifi-2';
        else                                         var wifi_icon = 'bi-wifi-1';

        wifi_menu.append(
            $('<li class="dropdown-item"></li>')
                .click(() => sendCommand('settings/netplan/file/set', {
                    filename: `10-${network.essid ?? ('hidden' + network.mac.slice(-5))}.yaml`,
                    content: wifi_yaml(network.essid, network.encryption != 'off'),
                    apply: false
                }))
                .append(
                    $('<span></span>').append(
                        $('<i class="bi"></i>').addClass(wifi_icon),
                        ' ' + (network.essid ?? '<i><small class="text-muted">hidden</small></i>')
                    ),
                    $('<h6></h6>').append(
                        $('<small class="text-muted"></small>').html(network.mac),
                        $('<span class="float-end line-height-1 ps-2"></span>').append(
                            $('<span class="badge text-bg-info"></span>')
                                .html(((network.frequency>=5)?'5':'2.4') + 'GHz'),
                            $('<span class="badge text-bg-warning"></span>').append(
                                $('<i></i>').addClass('bi bi-' + (network.encryption != 'off' ? 'lock' : 'unlock')),
                                ' ' + (network.encryption != 'off' ? network.encryption : 'open')
                            )
                        )
                    )
                )
        );
    });
    break;
{% endblock recv_cmds %}
</script>