{% extends "settings.html.j2" %}
{% block content %}
<h4>Playback</h4>
<div class="mb-3 row">
    <label for="default_duration" class="my-auto col-sm-5 col-form-label">Default asset duration</label>
    <div class="my-auto col-sm-7">
        <div class="input-group">
            <input type="number" class="form-control" id="default_duration" min="1">
            <span class="input-group-text">seconds</span>
            <button type="button" class="btn btn-sm btn-outline-success ms-auto" id="set_def_duration"><i class="bi bi-check2"></i> Apply</button>
        </div>
    </div>
</div>
{% endblock content %}

{% set init_cmds = ['settings/default_duration'] %}

<script type="text/javascript" charset="utf-8">
{% block recv_cmds %}
case 'settings/default_duration':
    default_duration.attr('def-val', data.duration);
    default_duration.val(data.duration);
    set_default_duration.removeClass('btn-success').addClass('btn-outline-success');
    break;
{% endblock recv_cmds %}

{% block js %}
const default_duration = $('#default_duration');
const set_default_duration = $('#set_def_duration');

default_duration.on('change', () => {
    if (default_duration.val() != default_duration.attr('def-val')) {
       set_default_duration.removeClass('btn-outline-success').addClass('btn-success');
    } else {
       set_default_duration.removeClass('btn-success').addClass('btn-outline-success');
    }
});

set_default_duration.on('click', () => sendCommand('settings/default_duration', {duration: default_duration.val()}));
{% endblock js %}
</script>