{% extends "settings.html.j2" %}
{% block content %}
<h4>Playback</h4>
<div class="mb-3 d-block d-md-flex" style="max-width: 33em;">
    <label for="default_duration" class="p-2 flex-shrink-0">Default asset duration</label>
    <div class="flex-grow-1">
        <div class="input-group">
            <input type="number" class="form-control text-end" id="default_duration" min="1">
            <span class="input-group-text">s<span class="d-none d-sm-block">econds</span></span>
            <button type="button" class="btn btn-sm btn-outline-success ms-auto" id="set_def_duration" disabled><i class="bi bi-check2"></i><span class="d-none d-sm-inline"> Apply</span></button>
        </div>
    </div>
</div>
{% endblock content %}

{% set init_cmds = ['Settings/default_duration'] %}

<script type="text/javascript" charset="utf-8">
{% block recv_cmds %}
case 'Settings/default_duration':
    default_duration.attr('def-val', data.duration);
    default_duration.val(data.duration);
    set_default_duration.removeClass('btn-success').addClass('btn-outline-success').prop('disabled', true);
    break;
{% endblock recv_cmds %}

{% block js %}
const default_duration = $('#default_duration');
const set_default_duration = $('#set_def_duration');

default_duration.change(() => {
    if (default_duration.val() != default_duration.attr('def-val')) {
       set_default_duration.removeClass('btn-outline-success').addClass('btn-success').prop('disabled', false);
    } else {
       set_default_duration.removeClass('btn-success').addClass('btn-outline-success').prop('disabled', true);
    }
});

set_default_duration.click(() => sendCommand('Settings/default_duration', {duration: default_duration.val()}));
{% endblock js %}
</script>