{% extends "settings.html.j2" %}
{% block content %}
    <h4>Change password</h4>
    <div class="form-floating mb-3" style="max-width: 30em;">
        <input type="email" class="form-control" id="loggedUser" placeholder="admin" value="{{logged_user}}" disabled>
        <label for="loggedUser">Username</label>
    </div>
    <div class="form-floating mb-3" style="max-width: 30em;">
        <input type="password" class="form-control" id="inputNewPassword" placeholder="Password">
        <label for="inputNewPassword">New password</label>
    </div>
    <form action="/api/settings/set_passwd" method="post">
        <div class="form-floating mb-3" style="max-width: 30em;">
            <input type="password" class="form-control" id="inputNewPassword2" placeholder="Password" name="password">
            <label for="inputNewPassword2">Repeat new password</label>
        </div>
        <div style="max-width: 30em;">
            <button type="submit" class="btn btn-success float-end" id="set_passwd" disabled><i class="bi bi-check2"></i> Change password</button>
        </div>
    </form>
{% endblock content %}

<script type="text/javascript" charset="utf-8">
{% block js %}
const pwd1 = $('#inputNewPassword');
const pwd2 = $('#inputNewPassword2');
const sub = $('#set_passwd');
pwd1.on('input', () => sub.prop('disabled', (pwd1.val() == '') || (pwd1.val() != pwd2.val())));
pwd2.on('input', () => sub.prop('disabled', (pwd1.val() == '') || (pwd1.val() != pwd2.val())));
{% endblock js %}
</script>
