{% extends "settings.html.j2" %}
{% block content %}
    <h4>Change password</h4>
    <div class="mb-2 row">
        <label for="loggedUser" class="my-auto col-sm-5 col-form-label">User</label>
        <div class="my-auto col-sm-7">
            <input type="text" class="form-control" id="loggedUser" value="{{logged_user}}" disabled>
        </div>
    </div>
    <div class="mb-2 row">
        <label for="inputNewPassword" class="my-auto col-sm-5 col-form-label">New password</label>
        <div class="my-auto col-sm-7">
            <input type="password" class="form-control" id="inputNewPassword">
        </div>
    </div>
    <form action="/api/settings/set_passwd" method="post">
        <div class="mb-2 row">
            <label for="inputNewPassword2" class="my-auto col-sm-5 col-form-label">Repeat new password</label>
            <div class="my-auto col-sm-7">
                <input type="password" name="password" class="form-control" id="inputNewPassword2">
            </div>
        </div>
        <div class="hstack gap-2">
            <button type="submit" class="btn btn-sm btn-success ms-auto" id="set_passwd" disabled><i class="bi bi-check2"></i> Change password</button>
        </div>
    </form>
{% endblock content %}

<script type="text/javascript" charset="utf-8">
{% block js %}
const pwd1 = $('#inputNewPassword');
const pwd2 = $('#inputNewPassword2');
const sub = $('#set_passwd');
function checkpwd(){
    if (pwd1.val() == pwd2.val()) sub.removeAttr('disabled');
    else sub.attr('disabled', '');
}
pwd1.on('input', checkpwd);
pwd2.on('input', checkpwd);
{% endblock js %}
</script>
