{% extends "settings.html.j2" %}
{% block content %}
<h4>Updates</h4>
<div class="mb-3 hstack gap-2">
    <p class="my-auto placeholder-wave" id="updateCount"><span class="placeholder bg-info rounded-pill" style="width: 12em;"></span></p>
    <div class="dropdown">
        <button type="button" class="btn" data-bs-toggle="dropdown" data-bs-reference="parent">
            <i class="bi bi-info-circle"></i>
        </button>
        <div class="dropdown-menu" style="min-width: 30rem; max-height: 50vh; overflow-y:auto;">
            <small>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Package</th>
                            <th scope="col">Installed</th>
                            <th scope="col">Available</th>
                        </tr>
                    </thead>
                    <tbody id="upd-table"></tbody>
                </table>
            </small>
        </div>
    </div>
    <button type="button" class="btn btn-sm btn-outline-primary ms-auto" id="apt_update" onclick="sendCommand('settings/update')"><i class="bi bi-arrow-clockwise"></i> Check updates</button>
    <button type="button" class="btn btn-sm btn-outline-danger" id="apt_upgrade" onclick="sendCommand('settings/update', {do_upgrade: true})"><i class="bi bi-arrow-bar-up"></i> Do updates</button>
</div>
<div class="border rounded p-2" style="max-height: 30em; overflow-y: auto;" id="log_container"><small><code style="white-space: pre-wrap; color: grey;" id="log">No logs available</code></small></div>
{% endblock content %}

{% set init_cmds = ['settings/update/list', 'settings/update/status'] %}

<script type="text/javascript" charset="utf-8">
{% block js %}
const tooltip = $('#updateCount');
const upd_table = $('#upd-table');
const log_view = $('#log');
const log_container = $('#log_container')[0];
const updateBtn = $('#apt_update');
const upgradeBtn = $('#apt_upgrade');
{% endblock js %}


{% block recv_cmds %}
case 'settings/update/start':
    log_view.empty();
    break;

case 'settings/update/progress':
    log_view.append((data.is_stdout)?data.data:`<span style="color: red;">${data.data}</span>`);
    log_container.scrollTop = log_container.scrollHeight;
    break;

case 'settings/update/end':
    updateBtn.prop('disabled', false)
        .html('<i class="bi bi-arrow-clockwise"></i> Check updates');
    upgradeBtn.prop('disabled', false)
        .html('<i class="bi bi-arrow-bar-up"></i> Do updates');
    break;

case 'settings/update/list':
    var cnt = data.updates.length;
    tooltip.html(`${cnt==0?'No':cnt} update${cnt==1?'':'s'} available`);
    upd_table.empty();
    data.updates.forEach(pkg=>{
        upd_table.append(
            $('<tr></tr>').append(
                $('<th scope="row"></th>').html(pkg.package),
                $('<td></td>').html(pkg.old_version),
                $('<td></td>').html(pkg.new_version)
            )
        );
    });
    break;

case 'settings/update/status':
    if (data.status == 'update'){
        updateBtn.prop('disabled', true);
        updateBtn.html('<span class="spinner-border spinner-border-sm" role="status"></span> Checking...');
    }
    else {
        updateBtn.prop('disabled', false);
        updateBtn.html('<i class="bi bi-arrow-clockwise"></i> Check updates');
    }
    
    if (data.status == 'upgrade'){
        upgradeBtn.prop('disabled', true);
        upgradeBtn.html('<span class="spinner-border spinner-border-sm" role="status"></span> Updating...');
    } else {
        upgradeBtn.prop('disabled', false);
        upgradeBtn.html('<i class="bi bi-arrow-bar-up"></i> Do updates');
    }
    if (data.log.length){
        log_view.empty();
        data.log.forEach(line => log_view.append((line[0])?line[1]:`<span style="color: red;">${line[1]}</span>`));
        log_container.scrollTop = log_container.scrollHeight;
    }
    break;
{% endblock recv_cmds %}
</script>
