Pillow
PyJWT
Werkzeug
aiofiles
aiohttp
asyncwebsockets
benedict
benedict[parse]
fastapi
fastapi-login
hypercorn
jinja2
loguru
natsort
packaging
psutil
pulsectl
pycryptodome
pydantic-extra-types
pydantic
pydbus
pygobject==3.50.0
pymediainfo
python-benedict
python-crontab
python-dotenv
python-multipart
qrcode
requests
rpyc
ruamel.yaml
uvloop
validators
watchdog
wcmatch