aiofiles
aiohttp
asyncwebsockets
cryptography
fastapi
fastapi-login
hypercorn
jinja2
natsort
packaging
Pillow
psutil
pulsectl
pydantic==2.6.3
pydantic-extra-types
PyJWT
pymediainfo
python-crontab
python-benedict
python-dotenv
python-multipart
qrcode
requests
rpyc
ruamel.yaml
uvloop
validators
watchdog
wcmatch
Werkzeug