<!DOCTYPE html>
<html lang="en">
<head>
    <title>UniTotem Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap-icons.css">
</head>
<body style="height: 100%;">
    <div class="container-fluid col col-sm-5 mt-5 pt-5">
        <div class="card shadow">
            <div class="card-header text-center">
                UniTotem {{ut_vers}} - {{ hostname }}
            </div>
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Login</h5>
                <form action="/auth/token" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input name="username" type="text" class="form-control" id="inputUsername">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" id="inputPassword">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <input type="hidden" name="src" value="{{src}}">
                    <button type="submit" class="btn btn-primary float-end">Login</button>
                </form>
            </div>
            <div class="card-footer text-muted text-center">
                {{ ip_addr }} | {{os_vers}}
            </div>
        </div>
    </div>
</body>
</html>