{% set bs_theme = ['light', 'dark'][1] -%}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>UniTotem Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-icons.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="text"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
</head>

<body class="text-center bg-body-tertiary" data-bs-theme="{{bs_theme}}">
    <main class="form-signin w-100 m-auto">
        <form action="/auth/token" method="post">
            <h1 class="h2 mb-4 fw-normal">Please sign in</h1>
            <p class="mb-3 text-body-secondary">UniTotem {{ut_vers}} @ {{ hostname }}</p>

            <div class="form-floating">
                <input type="text" name="username" class="form-control" id="floatingInput" placeholder="admin" value="admin">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="remember_me" checked> Remember me
                </label>
            </div>
            <input type="hidden" name="src" value="{{src}}">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-body-secondary">{{ ip_addr }} | {{os_vers}}</p>
        </form>
    </main>
</body>
</html>