{% extends 'common/html/base.html.j2' -%}

{% block main_content %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/settings"><i class="bi bi-sliders"></i> Settings</a></li>
        <li class="breadcrumb-item active">{% for name, tab, _, icon in tabs %}{% if tab==cur_tab %}<i class="bi bi-{{icon}}"></i> {{name}}{% endif %}{% endfor %}</li>
    </ol>
</nav>
<div class="row">
    <div class="px-3">
        {% block content %}{% endblock content %}
    </div>
</div>
{% endblock main_content %}
    
{% set init_cmds = ['Settings/hostname', init_cmds] %}
