@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(material-symbols-outlined.woff2) format('woff');
}

.material-symbols-outlined {
    /*noinspection CssNoGenericFontName*/
    font-family: 'Material Symbols Outlined';
    font-weight: 500;
    font-style: normal;
    font-size: 1.2em;
    vertical-align: -.200em;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}