<!DOCTYPE html>
<html lang="en">

<head>
    <title>UniTotem Settings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap-icons/bootstrap-icons.css">
    <style> .hdr { background-color: #7431F9; color: white; } </style>
</head>

<body>
    <header class="page-header hdr container-fluid">
        <div class="container-fluid col-lg-10 p-2 hstack gap-2">
            <a class="navbar-brand" href="/"><h1 class="my-auto"><b>U</b></h1></a>
            <div class="ms-auto"><!--spacer--></div>
            <div class="btn-group" role="group">
                <a class="btn btn-outline-light" type="button" href="/">
                    <i class="bi bi-list-task"></i><span class="d-none d-sm-inline"> Scheduler</span>
                </a>
                <a class="btn btn-light" type="button" href="/settings">
                    <i class="bi bi-sliders"></i><span class="d-none d-sm-inline"> Settings</span>
                </a>
            </div>
            <button class="ms-5 ms-sm-4 ms-md-5 btn btn-outline-light" type="button" data-bs-title="Do you want to reboot UniTotem?" data-bs-positive-btn="Reboot" data-bs-positive-action="sendCommand({'reboot': ''})" data-bs-negative-btn="No" data-bs-toggle="modal" data-bs-target="#confirmModal">
                <i class="bi bi-bootstrap-reboot"></i><span class="d-none d-sm-inline"> Reboot</span>
            </button>
            <button class="btn btn-outline-light" type="button" data-bs-title="Do you want to shutdown UniTotem?" data-bs-positive-btn="Shutdown" data-bs-positive-action="sendCommand({'shutdown': ''})" data-bs-negative-btn="No" data-bs-toggle="modal" data-bs-target="#confirmModal">
                <i class="bi bi-power"></i><span class="d-none d-sm-inline"> Shutdown</span>
            </button>
        </div>
    </header>

    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"><h6></h6><code></code></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadBackupModal" tabindex="-1" aria-labelledby="uploadBackupModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="uploadBackupModalLabel">Select elements to restore:</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="mainConfCheck" disabled>
                            <label class="form-check-label" for="mainConfCheck">Main configuration</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="alsaCheck" disabled>
                            <label class="form-check-label" for="alsaCheck">Alsa default audio device</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="hostnameCheck" disabled>
                            <label class="form-check-label" for="hostnameCheck">Device hostname</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="netplanCheck" disabled>
                            <label class="form-check-label" for="netplanCheck">Netplan configuration files</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="fileCheck" disabled>
                            <label class="form-check-label" for="fileCheck">Uploaded files</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" id="restore_confirm" class="btn btn-warning" data-bs-dismiss="modal">Restore</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newFileModal" tabindex="-1" aria-labelledby="newFileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="newFileModalLabel">New file</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="filename" class="col-form-label"><h5>Filename:</h5></label>
                        <input type="text" class="form-control" id="modal_input_filename">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="add_file_btn" class="btn btn-primary" data-bs-dismiss="modal">Add asset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addPowerRuleModal" tabindex="-1" aria-labelledby="addPowerRuleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addPowerRuleModalLabel">New rule</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="hour_selector" class="col-sm-3 col-form-label">Time</label>
                        <div class="col-sm-9">
                            <div class="input-group mb-3">
                                <select class="form-select" id="hour_selector">
                                        <option value="*" selected>*</option>
                                        {% for i in range(0, 24) %}
                                            <option value="{{i}}">{{ '%02d' % i }}</option>
                                        {%endfor%}
                                    </select>
                                <span class="input-group-text">:</span>
                                <select class="form-select" id="minute_selector">
                                        <option value="*" selected>*</option>
                                        {% for i in range(0, 60) %}
                                            <option value="{{i}}">{{ '%02d' % i }}</option>
                                        {%endfor%}
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="weekday_selector" class="col-sm-3 col-form-label">Day of the week</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="weekday_selector">
                                    <option value="*" selected>*</option>
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                    <option value="0">Sunday</option>
                                </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="month_selector" class="col-sm-3 col-form-label">Month</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="month_selector">
                                    <option value="*" selected>*</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="monthday_selector" class="col-sm-3 col-form-label">Day of the month</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="monthday_selector">
                                    <option value="*" selected>*</option>
                                    {% for i in range(1, 32) %}
                                        <option value="{{i}}">{{ '%02d' % i }}</option>
                                    {%endfor%}
                                </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="action_selector" class="col-sm-3 col-form-label">Action</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="action_selector">
                                    <option value="pwr" selected>Shutdown</option>
                                    <option value="reb">Reboot</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="add_schedule" class="btn btn-primary" data-bs-dismiss="modal">Add schedule</button>
                </div>
            </div>
        </div>
    </div>

    <main class="container-fluid col-lg-10 mt-md-3 mt-1">
        <div class="progress" id="upload-progress" hidden>
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="upload-progress-bar" role="progressbar" aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="mb-4 col">
                    <h4>Playback</h4>
                    <div class="mb-3 row">
                        <label for="default_duration" class="my-auto col-sm-5 col-form-label">Default asset duration</label>
                        <div class="my-auto col-sm-7">
                            <div class="input-group">
                                <input type="number" class="form-control" id="default_duration" min="1" value="{{ default_duration }}">
                                <span class="input-group-text">seconds</span>
                            </div>
                        </div>
                        <div class="mt-2 hstack gap-2" hidden>
                            <button type="button" class="btn btn-sm btn-success ms-auto" id="set_def_duration"><i class="bi bi-check2"></i> Apply</button>
                        </div>
                    </div>
                </div>
                <div class="mb-4 col">
                    <h4>Updates</h4>
                    <div class="mb-3 hstack gap-2">
                        <p class="my-auto" id="updateCount">{{'No' if upd==0 else upd }} update{{'' if upd==1 else 's'}} available</p>
                        <button type="button" class="btn btn-sm btn-outline-primary ms-auto" id="apt_update" {{ 'disabled' if is_updating else '' }}>
                            {% if is_updating %}
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Checking...
                            {% else %}
                            <i class="bi bi-arrow-clockwise"></i> Check updates
                            {% endif %}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-danger" id="apt_upgrade" {{ '' if upd else 'hidden' }} {{ 'disabled' if is_upgrading else '' }}>
                            {% if is_upgrading %}
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Updating...
                            {% else %}
                            <i class="bi bi-arrow-bar-up"></i> Do updates
                            {% endif %}
                        </button>
                    </div>
                </div>
                <div class="mb-4 col">
                    <h4>Change password</h4>
                    <div class="mb-2 row">
                        <label for="loggedUser" class="my-auto col-sm-5 col-form-label">User</label>
                        <div class="my-auto col-sm-7">
                            <input type="text" class="form-control" id="loggedUser" value="{{logged_user}}" disabled>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="inputNewPassword" class="my-auto col-sm-5 col-form-label">New password</label>
                        <div class="my-auto col-sm-7">
                            <input type="password" class="form-control" id="inputNewPassword">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="inputNewPassword2" class="my-auto col-sm-5 col-form-label">Repeat new password</label>
                        <div class="my-auto col-sm-7">
                            <input type="password" class="form-control" id="inputNewPassword2">
                        </div>
                    </div>
                    <div class="hstack gap-2" hidden>
                        <button type="button" class="btn btn-sm btn-success ms-auto" id="set_passwd"><i class="bi bi-check2"></i> Change password</button>
                    </div>
                </div>
                <div class="mb-4 col">
                    <h4>Audio output</h4>
                    <h6><small class="text-muted">After changing device, restart the system to apply.</small></h6>
                    <select class="form-select" aria-label="Default select example" onchange="sendCommand({'audio_out': this.value})">
                        {% for key, device in audio %}
                        <option value="{{key}}" {{ 'selected' if key == def_audio_dev else '' }}>{{device}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="mb-4 col">
                    <h4>Network</h4>
                    <div class="mb-3 row">
                        <label for="inputHostname" class="col-sm-5 col-form-label">Hostname</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputHostname" value="{{hostname}}" ws-edit-needs-reboot>
                        </div>
                        <div class="mt-2 hstack gap-2" hidden>
                            <button type="button" class="btn btn-sm btn-success ms-auto" id="set_hostname"><i class="bi bi-check2"></i> Apply</button>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <h7><a href="https://netplan.io/reference/">Netplan</a> config files:</h7>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% for file in netplan_config %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link{{' active' if loop.index == 1 else ''}}" id="tab-{{file}}" data-bs-toggle="tab" data-bs-target="#tab-pane-{{file}}" type="button" role="tab" aria-controls="tab-pane-{{file}}" aria-selected="true">{{file}}</button>
                            </li>
                            {%endfor%}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" title="New file" id="add-file" data-bs-toggle="modal" data-bs-target="#newFileModal" type="button" role="tab"><i class="bi bi-plus-square"></i></button>
                            </li>
                            <li class="ms-auto my-auto">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="wifiDropBtn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="inside"><i class="bi bi-wifi"></i></button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="wifiDropBtn" id="wifi-menu">
                                    <li class="dropdown-item disabled">Scanning...</li>
                                </ul>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            {% for file in netplan_config %}
                            <div class="tab-pane fade{{' show active' if loop.index == 1 else ''}}" id="tab-pane-{{file}}" role="tabpanel" aria-labelledby="tab-{{file}}" tabindex="0">
                                <div id="editor-{{file}}" style="width:100%;height:25em;">{{netplan_config[file]}}</div>
                                <div class="mt-2 hstack gap-2">
                                    <button type="button" class="btn btn-sm btn-danger" data-bs-title="Do you want to delete {{file}}.yaml?" data-bs-positive-btn="Delete" data-bs-positive-action="sendCommand({'del_netplan_conf': '{{file}}.yaml'}, true)" data-bs-negative-btn="No" data-bs-toggle="modal" data-bs-target="#confirmModal"><i class="bi bi-trash"></i> Delete</button>
                                    <button type="button" class="btn btn-sm btn-success ms-auto" id="set_netplan_conf-{{file}}" onclick="sendCommand({'set_netplan_conf': '{{file}}.yaml', 'content': editor{{loop.index}}.getValue()}, true)" hidden><i class="bi bi-check2"></i> Apply</button>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mt-3 col">
                <div class="hstack gap-2">
                    <h4>Power scheduling</h4>
                    <button class="btn btn-sm btn-primary ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#addPowerRuleModal"><i class="bi bi-plus-circle"></i> Add rule</button>
                </div>
                <div class="m-3 mt-1 row border rounded-2">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Action</th>
                                <th scope="col">Hour</th>
                                <th scope="col">Minute</th>
                                <th scope="col">Day of the month</th>
                                <th scope="col">Month</th>
                                <th scope="col">Day of the week</th>
                                <th scope="col">Enabled</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody id="asset_table">
                            {%for job in crontab%}
                            <tr>
                                <td class="my-auto" scope="row">{{job.command}}</td>
                                <td class="my-auto">{{job.hour}}</td>
                                <td class="my-auto">{{job.minute}}</td>
                                <td class="my-auto">{{job.dom}}</td>
                                <td class="my-auto">{{job.month}}</td>
                                <td class="my-auto">{{job.dow}}</td>
                                <td class="my-auto">
                                    <div class="form-check form-switch">
                                        <input title="{{ 'Disable' if job.enabled else 'Enable' }} schedule" onChange="sendCommand({'job': '{{ job.comment }}', 'set_job_state': '{{ 'disabled' if job.enabled else 'enabled' }}'}, true);" class="form-check-input" type="checkbox" role="switch" {{ 'checked' if job.enabled else ''}}>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group my-2" role="group" aria-label="Basic outlined example">
                                        <button type="button" title="Remove schedule" onclick="sendCommand({'remove_schedule': '{{ job.comment }}'}, true);" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-3 border-top">
            <div class="mt-1 hstack gap-2">
                <h4 class="my-auto">Configuration</h4>
                <div class="btn-group ms-auto" role="group">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-download"></i> Backup</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/backup" download>Configuration only</a></li>
                        <li><a class="dropdown-item" href="/backup?include_uploaded" download>Configuration and files</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-sm btn-warning" id="restore"><i class="bi bi-upload"></i> Restore</button>
                <button type="button" class="btn btn-sm btn-danger" id="reset"><i class="bi bi-trash"></i> Reset</button>
            </div>
        </div>
    </main>

    <footer class="fixed-bottom text-center border-top bg-white" style="width:100vw; z-index:1000;">
        <h6 class="my-1" width="100%"><small class="text-muted"><a href="https://github.com/a13ssandr0/unitotem"><i class="bi bi-github"></i> Unitotem</a> {{ ut_vers }} by a13ssandro | Logged in as {{ logged_user }} | Display size: {{ disp_size }} | Used {{disk_used}} of {{disk_total}}</small></h6>
    </footer>

    <script src="/static/bootstrap/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="/static/ace-builds/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/jszip.min.js"></script>
    <script type="text/javascript" src="/static/jszip-utils.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        function byId(id){return document.getElementById(id)}

        {% for file in netplan_config %}
        var editor{{loop.index}} = ace.edit("editor-{{file}}", {theme: "ace/theme/xcode", mode: "ace/mode/yaml"});
        const editor{{loop.index}}_text = editor{{loop.index}}.getValue();
        editor{{loop.index}}.session.on('change', function(delta) {showHide(byId('set_netplan_conf-{{file}}'), editor{{loop.index}}.getValue() != editor{{loop.index}}_text);});
        {%endfor%}

        var fileSelector = document.createElement('input');
        fileSelector.setAttribute('type', 'file');
        fileSelector.onchange = () => {
            if (fileSelector.files.length > 0){
                JSZip.loadAsync(fileSelector.files[0]).then(function(zip) {
                    zip.file("config.json").async("string").then((content) =>{
                        var json = JSON.parse(content);
                        if (json.hasOwnProperty("CONFIG")){
                            var mainConfCheck = byId("mainConfCheck");
                            mainConfCheck.removeAttribute('disabled');
                            mainConfCheck.setAttribute('checked', '');
                        }
                        if (json.hasOwnProperty("hostname")){
                            var alsaCheck = byId("alsaCheck");
                            alsaCheck.removeAttribute('disabled');
                            alsaCheck.setAttribute('checked', '');
                        }
                        if (json.hasOwnProperty("def_audio_dev")){
                            var hostnameCheck = byId("hostnameCheck");
                            hostnameCheck.removeAttribute('disabled');
                            hostnameCheck.setAttribute('checked', '');
                        }
                        if (json.hasOwnProperty("netplan")){
                            var netplanCheck = byId("netplanCheck");
                            netplanCheck.removeAttribute('disabled');
                            netplanCheck.setAttribute('checked', '');
                        }
                        if (zip.folder("uploaded").filter((relativePath, file)=>{return true}).length){
                            var fileCheck = byId("fileCheck");
                            fileCheck.removeAttribute('disabled');
                            fileCheck.setAttribute('checked', '');
                        }
                    }).then(()=>{
                        new bootstrap.Modal('#uploadBackupModal').show();
                        byId('restore_confirm').onclick = () => {
                            var cfg_options = {
                                CONFIG: byId("mainConfCheck").checked,
                                hostname: byId("alsaCheck").checked,
                                def_audio_dev: byId("hostnameCheck").checked,
                                netplan: byId("netplanCheck").checked,
                                uploaded: byId("fileCheck").checked
                            }
                            uploadConfig(fileSelector.files[0], cfg_options, true);
                        }
                    });
                }, function() {alert("Not a valid zip file")}); 
            }
        }

        function setIPFormState(state) {
            if (state) {
                byId('inputAddress').setAttribute('disabled', '');
                byId('inputNetmask').setAttribute('disabled', '');
                byId('inputGateway').setAttribute('disabled', '');
                byId('inputDNS').setAttribute('disabled', '');
                byId('dhcpSwitchLabel').innerText = 'Enabled';
            } else {
                byId('inputAddress').removeAttribute('disabled');
                byId('inputNetmask').removeAttribute('disabled');
                byId('inputGateway').removeAttribute('disabled');
                byId('inputDNS').removeAttribute('disabled');
                byId('dhcpSwitchLabel').innerText = 'Disabled';
            }
        }

        function readyStateHandler(xhttp, on_success, on_error){
            if (xhttp.readyState == 4){
                if (xhttp.status >= 200 && xhttp.status < 300) {
                    if (on_success == true) location.reload();
                    else if (on_success instanceof Function) on_success(xhttp.response);
                } else if (!(on_error && on_error(xhttp.response, xhttp.status))) {
                    messageModal.querySelector('.modal-title').textContent = "Error";
                    messageModal.querySelector('.modal-body h6').textContent = `Request returned ${xhttp.status} (${xhttp.statusText})`;
                    messageModal.querySelector('.modal-body code').textContent = xhttp.response;
                    new bootstrap.Modal(messageModal).show();
                }
            }
        };

        function sendCommand(cmd, on_success, on_error) {
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = () => readyStateHandler(xhttp, on_success, on_error);
            xhttp.open("POST", "./api", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify(cmd));
        }

        function uploadConfig(cfg_file, cfg_options, on_success, on_error) {
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = () => readyStateHandler(xhttp, on_success, on_error);
            let formData = new FormData();
            formData.append('data_zip_file', cfg_file);
            formData.append('options', JSON.stringify(cfg_options));
            byId("upload-progress").removeAttribute("hidden");
            let progressbar = byId("upload-progress-bar");
            xhttp.upload.addEventListener('progress', (event) => {
                var perc = Math.round(event.loaded / event.total * 100);
                progressbar.style = `width: ${perc}%`;
                progressbar.innerHTML = perc + "%";
                progressbar.ariaValueNow = perc;
            });
            xhttp.open("POST", "./backup", true);
            xhttp.send(formData);
        }

        function resetConfig(on_success, on_error) {
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = () => readyStateHandler(xhttp, on_success, on_error);
            xhttp.open("DELETE", "./backup", true);
            xhttp.send();
        }

        function showHide(element, show) {
            if (show)
                element.removeAttribute('hidden');
            else
                element.setAttribute('hidden', '');
        }

        function gen_wifi_list(wifi_json_str) {
            wifis = JSON.parse(wifi_json_str);
            let wifi_low = Math.round(parseInt(wifis[0].signal_total)/3);
            let wifi_high = Math.round(parseInt(wifis[0].signal_total)*2/3);
            byId('wifi-menu').innerHTML = "";
            for (let network of wifis){
                byId('wifi-menu').innerHTML += 
                `<li class="dropdown-item" onclick="sendCommand({'set_netplan_conf': '10-${network.essid ? network.essid : 'hidden' + network.mac.slice(-5)}.yaml', 'content': wifi_yaml('${network.essid}'), 'apply': false}, true);">
                    <span><i class="bi bi-${(parseInt(network.signal_quality) >= wifi_high) ? 'wifi' : ((parseInt(network.signal_quality) >= wifi_low) ? 'wifi-2' : 'wifi-1')}"></i> ${ network.essid ? network.essid : '<i><small class="text-muted">hidden</small></i>' }</span>
                    <h6><small class="text-muted">${network.mac} &bull; ${ network.frequency.startsWith('5') ? '5' : '2.4' }GHz</small></h6>
                </li>`;
            }
        }

        function wifi_yaml(wifi_name) {
            return `network:
  wifis:
    {{def_wifi}}:
      dhcp4: true
      # addresses: [192.168.1.100/24]
      # routes:
      #   - to: 0.0.0.0/0
      #     via: 192.168.1.1
      # nameservers:
      #   addresses: [192.168.1.1, 1.1.1.1, 8.8.8.8]
      access-points:
        "${wifi_name}":
          password: "<super-secure>"`;
        }
        
        function check_is_updating() {let upd = setInterval(sendCommand, 3000, {'is_updating': ''}, (response)=>{if (!JSON.parse(response) && byId('apt_update').hasAttribute('disabled')){
            clearInterval(upd);
            let btn = byId('apt_update');
            btn.removeAttribute('disabled');
            btn.innerHTML='<i class="bi bi-arrow-clockwise"></i> Check updates';
            sendCommand({'update_count': ''}, (response) => {
                let upd = parseInt(response);
                byId('updateCount').innerHTML = `${(upd==0)?'No': upd} update${(upd==1)?'':'s'} available`;
            });
        }}, (err) => {
            clearInterval(upd);
            let btn = byId('apt_update');
            btn.removeAttribute('disabled');
            btn.innerHTML='<i class="bi bi-arrow-clockwise"></i> Check updates';
            byId('updateCount').innerHTML = ':-( Something went wrong...';
        });}
        
        function check_is_upgrading() {let upg = setInterval(sendCommand, 3000, {'is_upgrading': ''}, (response)=>{if (!JSON.parse(response) && byId('apt_upgrade').hasAttribute('disabled')){
            clearInterval(upg);
            let btn = byId('apt_upgrade');
            btn.removeAttribute('disabled');
            btn.innerHTML='<i class="bi bi-arrow-bar-up"></i> Do updates';
            sendCommand({'update_count': ''}, (response) => {
                let upd = parseInt(response);
                byId('updateCount').innerHTML = `${(upd==0)?'No': upd} update${(upd==1)?'':'s'} available`;
            });
        }}, (err) => {
            clearInterval(upg);
            let btn = byId('apt_upgrade');
            btn.removeAttribute('disabled');
            btn.innerHTML='<i class="bi bi-arrow-bar-up"></i> Do updates';
            byId('updateCount').innerHTML = ':-( Something went wrong...';
        });}

        {% if is_updating %}check_is_updating();{% endif %}
        {% if is_upgrading %}check_is_upgrading();{% endif %}

        byId('add_file_btn').onclick = function () {sendCommand({'new_netplan_conf': byId('modal_input_filename').value + '.yaml'}, true);}
        byId('default_duration').onchange = () => {showHide(byId('set_def_duration').parentElement, byId('default_duration').value != parseInt(byId('default_duration').getAttribute('value')));};
        byId('inputHostname').oninput = () => {showHide(byId('set_hostname').parentElement, byId('inputHostname').value != byId('inputHostname').getAttribute('value'));};
        var updateBtn = byId('apt_update');
        updateBtn.onclick = () => {
            sendCommand({'update': ''});
            updateBtn.setAttribute('disabled', '');
            updateBtn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Checking...';
            check_is_updating();
        };
        var upgradeBtn = byId('apt_upgrade');
        upgradeBtn.onclick = () => {
            sendCommand({'upgrade': ''});
            upgradeBtn.setAttribute('disabled', '');
            upgradeBtn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Updating...';
            check_is_upgrading();
        };
        byId('set_def_duration').onclick = () => {sendCommand({'set_def_duration': byId('default_duration').value}, true);};
        byId('inputNewPassword').oninput = byId('inputNewPassword2').oninput = () => {
            showHide(byId('set_passwd').parentElement,
                byId('inputNewPassword').value &&
                byId('inputNewPassword').value == byId('inputNewPassword2').value
            );
        };
        byId('set_passwd').onclick = () => {sendCommand({'set_passwd': byId('inputNewPassword').value}, true);};
        byId('add_schedule').onclick = () => {
            sendCommand({
                'schedule': byId('action_selector').value,
                'm': byId('minute_selector').value,
                'h': byId('hour_selector').value,
                'dom': byId('monthday_selector').value,
                'mon': byId('month_selector').value,
                'dow': byId('weekday_selector').value
            }, true);
        };
        byId('set_hostname').onclick = () => {sendCommand({'set_hostname': byId('inputHostname').value}, true);};
        var wifi_upd_timer = Number();
        byId('wifiDropBtn').addEventListener('show.bs.dropdown', event => {wifi_upd_timer=setInterval(sendCommand, 5000, {'get_wifis':''}, gen_wifi_list, (err) => clearInterval(wifi_upd_timer));});
        byId('wifiDropBtn').addEventListener('hide.bs.dropdown', event => {clearInterval(wifi_upd_timer);});
        byId('restore').onclick = () => {fileSelector.click()};
        byId('reset').onclick = () => {resetConfig();};

        const messageModal = byId('messageModal');
        const confirmModal = byId('confirmModal');
        confirmModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            
            confirmModal.querySelector('.modal-title').textContent = button.getAttribute('data-bs-title');
            const positive_btn = confirmModal.querySelector('.btn-danger');
            const negative_btn = confirmModal.querySelector('.btn-outline-primary');

            positive_btn.innerHTML = button.getAttribute('data-bs-positive-btn');
            positive_btn.setAttribute("onclick", button.getAttribute('data-bs-positive-action'));
            negative_btn.innerHTML = button.getAttribute('data-bs-negative-btn');
            negative_btn.setAttribute("onclick", button.getAttribute('data-bs-negative-action'));
        });

    </script>
</body>

</html>